.clangd/
compile_commands.json

build/
bin/
out/
.cache/

vcpkg_installed/
vcpkg/

*.o
*.a
*.so
*.lib
*.dll
*.exe
*.ps1
*.dylib

.vscode/

.idea/
cmake-build-*/

*~
*.swp
.DS_Store (si alguien usa macOS)

*.log
core
gmon.out
